<a href="https://colab.research.google.com/github/MazonSzymon/Project_COVID_portfolio/blob/main/Portfolio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  ***Analysis of investing at GPW in 2020*** 

---

#Downloading libraries and creating wig20 table

In [1]:
!git clone https://github.com/MazonSzymon/Project_COVID_portfolio.git
import sys
sys.path.append('/content/Project_COVID_portfolio/')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import pandas_datareader as pdr 
%load_ext google.colab.data_table
import functions as WIG20 # My own functions
#Set up plot
from cycler import cycler
plt.style.use('ggplot')
plt.rc('axes', facecolor='white', edgecolor='black', grid = False, axisbelow = True)
plt.rc('grid',color='gray', linestyle='solid', linewidth=0.5)
plt.rc('patch', edgecolor='black')
plt.rc('legend', shadow=True, handlelength=1, fontsize=10, edgecolor = 'black', facecolor='white')

Cloning into 'Project_COVID_portfolio'...
remote: Enumerating objects: 97, done.
remote: Counting objects: 100% (97/97), done.
remote: Compressing objects: 100% (95/95), done.
remote: Total 97 (delta 43), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (97/97), done.

In [3]:
WIG20.WIG20_tabel.head()

               Open     High      Low    Close    Volume Stock_name
Date
2020-01-02  2161.55  2200.57  2161.42  2200.10  21369888      WIG20
2020-01-03  2192.31  2192.31  2159.03  2173.97  20627251      WIG20
2020-01-07  2171.72  2176.80  2143.11  2145.01  19556434      WIG20
2020-01-08  2140.29  2140.29  2114.24  2115.99  20739943      WIG20
2020-01-09  2132.02  2157.61  2132.02  2157.61  19887696      WIG20

# Portfolio

In [2]:
#Our Investment
stocks = ['Alior Bank','mBank','Dino Polska','CD Projekt']
values_investment = [1250,1250,2500,5000]
investment = WIG20.creat_investment(stocks,values_investment) # With columns Stock - stocks and Value - value_investment

#Benchmark
benchmark = ['WIG20']
sum_investment = investment['Value'].sum() # If Benchmark have more than one company change like up

#Date our investment
date = dt.datetime(2020,6,1)

#Creat portfolio
bemchmark_portfolio = WIG20.preparing_portfolio_by_date(sum_investment,benchmark,dt.datetime(2020,6,1))
my_portfolio = WIG20.preparing_portfolio_by_date(investment['Value'].values, investment['Stock'],dt.datetime(2020,6,1))

--------------------------------------------------
At 2020-06-01 We first want to inveset 10000.0 PLN
We get
5 stocks WIG20 for 1733.52 PLN total 8667.6 PLN
and the rest from investment 1332.4 PLN
--------------------------------------------------
At 2020-06-01 We first want to inveset 10000.0 PLN
We get
84 stocks Alior Bank for 14.765 PLN total 1240.26 PLN
12 stocks CD Projekt for 396.9 PLN total 4762.8 PLN
13 stocks Dino Polska for 182.8 PLN total 2376.4 PLN
5 stocks mBank for 213.6 PLN total 1068.0 PLN
and the rest from investment 552.54 PLN